<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Imgur Carousel</title>
        <!-- CSS desktops -->
        <link rel="stylesheet" href="{{ url_for('static', path='css/styles-desktop.css') }}" media="screen and (min-width: 769px)">
        
        <!-- CSS mobile -->
        <link rel="stylesheet" href="{{ url_for('static', path='css/styles-mobile.css') }}" media="screen and (max-width: 768px)">
    
        <link rel="icon" href="{{ url_for('static', path='favicon.gif') }}" type="image/gif">
        <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
        <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    </head>
    

<div class="carousel carousel-main" data-flickity='{ "lazyLoad": 10, "fullscreen": true, "pageDots": false}'>
    {% for url in urls %}
    <div class="carousel-cell">
        <img class="carousel-cell-image" data-flickity-lazyload="{{url}}" href="{{url}}" alt="..." />
    </div>
    {% endfor %}
</div>

<div class="carousel carousel-nav"
  data-flickity='{ "lazyLoad": 10, "asNavFor": ".carousel-main", "pageDots": false }'>
  {% for url in urls %}
  <div class="carousel-cell">
    <img class="carousel-cell-image" data-flickity-lazyload="{{url}}" alt="..." />
    </div>
  {% endfor %}
</div>
